<nav th:fragment="header" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">MyBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog">Блог</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">О нас</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog/add">+ Новая статья</a>
            </li>
        </ul>
        <form th:action="@{/find}" method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="title" type="text" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
        </form>
        <form th:action="@{/logout}" class="nav-item active" method="post">
            <input type="submit" class="nav-link" value="Sign Out"/>
        </form>
    </div>
</nav>