<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="'Создать пост'"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>


    <body>
        <header th:insert="components/header :: header" ></header>
            <div class="container mt-5">
                <div class="pt-5">
                    <h3>Создать новую статью</h3>
                </div>
                <form action="#" th:object="${post}" th:action="@{/blog/add}" method="post">
                    <div>
                        <div class="form-group  md-5">
                            <label>Название статьи</label>
                            <input th:class="${titleError != null}? ${'form-control is-invalid'}:${'form-control'}" type="text" name="title" th:value="*{title}" placeholder="Название статьи">
                            <div th:if="${titleError != null}" class="invalid-feedback">
                                [[${titleError.getDefaultMessage()}]]
                            </div>
                        </div>
                        <div class="form-group  md-5">
                            <label>Анонс статьи</label>
                            <input th:class="${anonsError != null}? ${'form-control is-invalid'}:${'form-control'}" type="text" name="anons" th:value="*{anons}" placeholder="Анонс">
                            <div th:if="${anonsError != null}" class="invalid-feedback">
                                [[${anonsError.getDefaultMessage()}]]
                            </div>
                        </div>
                        <div class="form-group md-5">
                            <label>Текст статьи</label>
                            <textarea th:class="${textError != null}? ${'form-control is-invalid'}:${'form-control'}" type="text" th:field="*{full_text}" placeholder="Текст статьи"></textarea>
                            <div th:if="${textError != null}" class="invalid-feedback">
                                [[${textError.getDefaultMessage()}]]
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Категория</label>
                            <select th:field="*{Categories}" class="form-control" id="exampleFormControlSelect1">
                                <option th:value="SPORT">Спорт</option>
                                <option th:value="SCIENCE">Наука</option>
                                <option th:value="RELIGION">Религия</option>
                                <option th:value="CULTURE">Культура</option>
                                <option th:value="FOOD">Еда</option>
                                <option th:value="TRANSPORT">Транспорт</option>
                                <option th:value="POLITIC">Политика</option>
                                <option th:value="ACCIDENTS">Происшествия</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success">Создать</button>
                    </div>
                </form>
            </div>
        <footer th:insert="components/footer :: footer"></footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</html>