<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="тест"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body class="pt-5">
        <header th:insert="components/header :: header" ></header>

        <main role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">24News</h1>
                <p class="lead">Свежие и интересные новости на любую тематику!</p>
              </div>
            </div>

            <div class="container">
                <h1>Что нового</h1>
                <!-- Example row of columns -->
                <div class="row">
                    <div th:each="el : ${posts}" class="card m-2 shadow rounded" style="width: 18rem;">
                        <div class="card-body">
                            <h5 th:text="${el.title}" class="card-title"/>
                            <p th:text="${el.anons}" class="card-text"/>
                            <div class="clearfix">
                                <p class="float-left" th:text="${'Дата: ' + el.getDate()}"></p>
                                <a class="float-right" th:href="'/blog/post' + ${el.ID}">Детальнее</a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
            </div> <!-- /container -->

            <div class="container">
                <h1>Категории</h1>
                <div id="carouselExampleControls" class="carousel slide d-none d-md-block d-xl-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="орлор">
                                    <div class="card-body">
                                        <h5 class="card-title">Спорт</h5>
                                        <p class="card-text">Новости из мира спорта </p>
                                        <a href="/blog/category?category=SPORT" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Наука</h5>
                                        <p class="card-text">Новости из мира науки</p>
                                        <a href="/blog/category?category=SCIENCE" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Религия</h5>
                                        <p class="card-text">Новости из мира религии</p>
                                        <a href="/blog/category?category=RELIGION" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Культура</h5>
                                        <p class="card-text">Новости культуры и исторических событий</p>
                                        <a href="/blog/category?category=CULTURE" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Еда</h5>
                                        <p class="card-text">Новинки и интересные рецепты, подборки блюд на любой вкус и цвет</p>
                                        <a href="/blog/category?category=FOOD" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Транспорт</h5>
                                        <p class="card-text">Новинки автопрома, революции способов перемещения и многое другое</p>
                                        <a href="/blog/category?category=TRANSPORT" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Политика</h5>
                                        <p class="card-text">Свежие политические новости разных стран мира</p>
                                        <a href="/blog/category?category=POLITIC" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Происшествия</h5>
                                        <p class="card-text">Чрезвычайные происшествия и последние события в обществе</p>
                                        <a href="/blog/category?category=ACCIDENTS" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                                <div class="card col" style="width: 18rem;">
                                    <img src="/static/img/volga.jpg" class="card-img-top" alt="/static/img/volga.jpg">
                                    <div class="card-body">
                                        <h5 class="card-title">Всё</h5>
                                        <p class="card-text">Свежие новости на сегодняшний момент</p>
                                        <a href="/blog" class="btn btn-primary">К категории</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="container pt-3 d-sm-block d-md-none d-xl-none">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a href="/blog/category?category=SPORT" class="list-group-item list-group-item-action">Спорт</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=SCIENCE" class="list-group-item list-group-item-action">Наука</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=RELIGION" class="list-group-item list-group-item-action">Религия</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=CULTURE" class="list-group-item list-group-item-action">Культура</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=FOOD" class="list-group-item list-group-item-action">Еда</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=TRANSPORT" class="list-group-item list-group-item-action">Транспорт</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=POLITIC" class="list-group-item list-group-item-action">Политика</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog/category?category=ACCIDENTS" class="list-group-item list-group-item-action">Происшествия</a>
                        </li>
                        <li class="nav-item">
                            <a href="/blog" class="list-group-item list-group-item-action">Все</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>

        <footer th:insert="components/footer :: footer"></footer>

    </body>
    <script>
        $("#").on('click', function(){
            alert("send");
            $.post( "/blog/post6/delete", { _csrf: "14c10eb8-22b8-499a-aca1-142e9635dc5b"} );
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

</html>
