<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="Главная" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
        <header th:insert="components/header :: header" ></header>

        <main role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">24News</h1>
                <p class="lead">Свежие и интересные новости на любую тематику!</p>
              </div>
            </div>

            <div class="container">
                <h1>Что нового</h1>
                <!-- Example row of columns -->
                <div class="row">
                    <div th:each="el : ${posts}" class="card m-2 shadow rounded" style="width: 18rem;">
                        <div class="card-body">
                            <h5 th:text="${el.title}" class="card-title"/>
                            <p th:text="${el.anons}" class="card-text"/>
                            <div class="clearfix">
                                <p class="float-left" th:text="${'Дата: ' + el.getDate()}"></p>
                                <a class="float-right" th:href="'/blog/post' + ${el.ID}">Детальнее</a>
                            </div>

                        </div>
                    </div>
                </div>
                <hr>
            </div> <!-- /container -->

            <div class="container">
                <h1>Категории</h1>

            </div>
        </main>

        <footer th:insert="components/footer :: footer"></footer>

    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</html>
